.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 4rem;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  padding: 4rem;
}

.newGame {
  display: flex;
  flex-direction: row;
  margin: 4rem;
}

.newGame > * {
  margin: 5px;
}

.alert {
  position: absolute;
  transform: translate(130px, 80px);
}