.main {
  margin: 3rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
}

.historyTree {
  width: 350px;
  overflow-x: auto;
  margin-top: 2rem;
}

.treeInstruction {
  width: max-content;
}

.gameScene {
  margin-left: 3rem;
  text-align: center;
}

.relatedContainer {
  margin-top: 2rem;
}

.relatedPaper {
  padding: 1rem;
  margin: 1rem;
}